/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #293d2d;
}

body {
    background: url("bg-photo.jpg") no-repeat center center fixed
        rgba(0, 0, 0, 0.116);
    background-size: cover;
    background-blend-mode: overlay;
    font-family: "Martian Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: white;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    background: transparent;
    font-size: 1.1rem;
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

header a:hover,
footer a:hover {
    text-decoration: none;
    color: #caffab;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    width: 80vw; /* Tamanho dinâmico baseado na largura da janela */
    max-width: 1600px; /* Tamanho máximo para evitar que fique grande demais */
    height: auto;
}

.bordaembaixo {
    border-bottom: 3px solid white;
    padding-bottom: 10px;
}

.bordaembaixotracejada {
    border-bottom: 0px dashed white;
    padding: 10px 30px;
    /* background: #000000; */
    border: solid 2px #ebd0987d;
    border-radius: 100%;
}

.caracter-especial {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 0;
}

@media (max-width: 768px) {
    body {
        background: #293d2d;
        font-family: "Martian Mono", monospace;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        height: 100vh;
    }
    header,
    footer {
        font-size: 0.5rem;
        padding: 30px 20px;
    }

    header a,
    footer a {
        margin-top: 5px;
    }
    .logo {
        background: url(bg-photo.jpg) no-repeat center center fixed
            rgba(0, 0, 0, 0.116);
        background-size: cover;
        height: (100vh - 180px);
    }
}
